@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1a1919;
  border-radius: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: black; /* thumb color */
  border-radius: 0px;
  border: 2px solid #1a1919; /* space around thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
